name: Publish Coverage Reports

on:
  workflow_call:

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: write

jobs:
  junit-coverage-check:
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8
        with:
          name: build-reports
          github-token: ${{ github.token }}

      - name: JaCoCo JUnit Code Coverage Report
        id: jacoco_reporter
        uses: PavanMudigonda/jacoco-reporter@v5.1
        with:
          ## TODO: Change to combined report once Olaf is done with unit tests
          coverage_results_path: reports/jacoco/test/jacocoTestReport.xml
          coverage_report_name: JUnit Coverage
          coverage_report_title: JUnit
          fail_below_threshold: true
          # minimum_coverage: 80 # Disabled until Olaf hits minimum coverage

  texttest-coverage-check: # TODO: Remove once Olaf is done with unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8
        with:
          name: build-reports
          github-token: ${{ github.token }}

      - name: JaCoCo TextTest Code Coverage Report
        id: jacoco_reporter
        uses: PavanMudigonda/jacoco-reporter@v5.1
        with:
          coverage_results_path: reports/jacoco/jacocoTextTestReport/jacocoTextTestReport.xml
          coverage_report_name: TextTest Coverage
          coverage_report_title: TextTest
          fail_below_threshold: true
          minimum_coverage: 80

  junit-coverage-results:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8
        with:
          name: build-reports
          github-token: ${{ github.token }}

      - name: Add JUnit coverage to PR
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848 # v1.7.2
        with:
          token: ${{ github.token }}
          paths: reports/jacoco/test/jacocoTestReport.xml
          title: '# :coconut: JUnit Coverage Report'
          update-comment: true

  texttest-coverage-results:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8
        with:
          name: build-reports
          github-token: ${{ github.token }}

      - name: Add TextTest coverage to PR
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848 # v1.7.2
        with:
          token: ${{ github.token }}
          paths: reports/jacoco/jacocoTextTestReport/jacocoTextTestReport.xml
          title: '# :coconut: TextTest Coverage Report'
          update-comment: true
