name: Publish Test Reports

on:
  workflow_call:

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: write

jobs:
  junit-check:
    runs-on: ubuntu-latest
    steps:
      - name: Publish JUnit report
        uses: dorny/test-reporter@ee446707ff3bdadb3c039ff1af4286a09acb79c6
        with:
          artifact: build-reports
          name: JUnit Results
          path: 'test-results/test/*.xml'
          reporter: java-junit

  texttest-check:
    runs-on: ubuntu-latest
    steps:
      - name: Publish TextTest report
        uses: dorny/test-reporter@ee446707ff3bdadb3c039ff1af4286a09acb79c6
        with:
          artifact: build-reports
          name: TextTest Results
          path: 'test-results/texttest/**/*.xml'
          reporter: java-junit

  junit-results:
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          github-token: ${{ github.token }}

      - name: Publish JUnit results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f # v2
        with:
          check_name: JUnit Results
          check_run: false
          # set comment_mode to "always" for pull_request event, set to "off" for all other event types
          comment_mode: ${{ github.event_name == 'pull_request' && 'always' || 'off' }}
          deduplicate_classes_by_file_name: true
          event_file: Event File/event.json
          files: 'build-reports/test-results/test/*.xml'
          report_individual_runs: true
          report_suite_logs: any
          test_file_prefix: +Java/src/test/java/



  texttest-results:
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          github-token: ${{ github.token }}

      - name: Publish TextTest results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f # v2
        with:
          check_name: TextTest Results
          check_run: false
          # set comment_mode to "always" for pull_request event, set to "off" for all other event types
          comment_mode: ${{ github.event_name == 'pull_request' && 'always' || 'off' }}
          deduplicate_classes_by_file_name: true
          event_file: Event File/event.json
          files: 'build-reports/test-results/texttest/**/*.xml'
          report_individual_runs: true
          report_suite_logs: any
          test_file_prefix: +texttest/
